In [1]:
import terality as pd

In [5]:
df = pd.read_csv("../curso_pandas/Course_Materials_Part1/Video_Lecture_NBs/summer.csv")

../curso_pandas/Course_Materials_Part1/Video_Lecture_NBs/summer.csv:   0%|          | 0.00/2.57M [00:01<?, ?B/s]
INFO:terality:The result of te.read_csv was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

In [6]:
df.head()

INFO:terality:The result of te.dataframe.head was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].
INFO:terality:The result of te.dataframe._repr_html_ was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]